.wrapper{
    padding-top: 180px;
    background-image: url('~/src/assets/images/rsz_4background.jpg');
    h1{
        text-align: center;
        margin-bottom: 50px;
        font-size: 50px;
        font-weight: 700;
    }
    form{
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        .info-left{
            label{
                display: flex;
                text-align: left;
                align-items: center;
                justify-content: center;
                margin: 45px 15px;
            }
            span{
                display: flex;
                .type{
                    display: block;
                    margin: auto;
                    border-radius: 5px;
                }
            }
          
            .Title,.Description{
                padding: 10px;
                width: 500px;
                border: 1px solid black;
                border-radius: 10px;
            }
            .Description{
                border: 1px solid black;
                width: 505px;
                height: 100px;
            }
          
        }
        .info-right{
            text-align: center;
            justify-content: end;
            align-items: center;
            margin: 0 auto;
            .img{
                width: 270px;
                height: 170px;
            }
        }

    }
    .upload{
        display: block;
        margin: 0 auto;
        border: 1px solid black;
        padding: 20px 50px;
        border-radius: 50px;
        &:hover{
            background-color: var(--primary);
        }
    }
    
}