.wrapper{
    --search-border-radius:62px;
    position: relative;
    height: 85px;
    padding: 0 10px;
    border-bottom: 1px solid var(--primary);
}
.content{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid var(--boder) ;
}

.logo{
    cursor: pointer;
    display: flex;
    padding-left: 13px;
}
.logo img{
    width:60px;
    height: auto;
}
.logo h2{
    padding-top: 9px;
}
.logo h2 .color-H{
    color: var(--primary);
}
.logo h2 .color-K{
    color: var(--color-second);
}


.search{
    position: relative;
    display: flex;
    border: 1px solid var(--primary);
    width: 100%;
    height: 46px;
    border-radius: var(--search-border-radius);
    padding-left:16px;
    input{
        flex: 1;
        height: 100%;
        background-color: transparent;
    }
}

.search-result{
    width: 500px;
}

.search-title{
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22,24,35,0.5);
}

.clear,
.loading{
    position: absolute;
    right: 52px;
    top:50%;
    transform: translateY(-50%);
    padding-right: 12px;
    background-color: unset;
    color: var(--color-second);
    cursor: pointer;

    &:hover{
        color: var(--primary);
    }
}
.search-btn{
    position: relative;
    color: var(--primary);
    cursor: pointer;
    background-color: var(--color-second);
    width: 52px;
    height: 100%;
    border-left:1px solid var(--primary) ;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    
    font-size: 19px;
    &:hover{
        background-color: var(--primary);
        color: var(--color-second);
    }
    &:active{
        background-color: var(--click);
    }

}

.actions{
    display: flex;
    justify-self: right;
    padding-right: 20px;
}

.more-btn{
    font-size: 2rem;
    margin-left: 24px;
    background-color:transparent;
    padding: 4px 8px;
}


@media (max-width:530px) {
    .content{
        grid-template-columns: 30% 60% 1fr;
    }

    .logo img{
        width:45px;
        height: auto;
    }
    .logo{
        font-size: 13px;
        h2{
            padding-top: 5px;
        }
    }

    .search{
        width: 94%;
        height: 35px;
    }
    .search-result{
        width: 350px;
        left: 20px;
    }

    .more-btn{
        margin-top: 2.5px;
        margin-left: 0;
    }
}
